
p{
    font-size: 36px;
    font-family: Calibri;
    padding: 35px;
    margin-left: -42px;
    margin-top: -64px;

}

.border {
  position: relative;
  border: 1px solid black;
  margin:auto;
  width: 611px;
  height: 815px;
  padding: 68px;
}

.table {
    width: 613px;
}
.details.rectangle {
    height: 2px;
    background-color:rgb(31, 78, 121);
    margin-top:37px;
    margin-left: -3px;
}
.details {
   font-size: 14px;
   width: 200px;
   color: rgb(31, 78, 121);
   font-family: Calibri;
   float: left;
   padding: 3px;
   text-align: right;
   margin-bottom: -4px;
}
.info {
  width:390px;
  font-size: 14px;
  font-family: Calibri;
  float: left;
  padding: 6px;
  margin-top: -3px;
  margin-left: 4px;
  margin-bottom: -4px;
}
.info.headings{
    font-size: 18pt;
    color: rgb(31, 78, 121);
    font-family: Calibri;
    padding: 25px 1px 12px 8px;
}
img {
    position: absolute;
    width: 124px;
    right: 40px;
    top: 7px;
}
.frame{
    margin-top: 26px;
    margin-right: 7px;
}
.special{
    width:-11px;
    font-size: 11px;
    font-family: Calibri;
    float: left;
    padding: 6px;
    margin-top: -3px;
    margin-left: 209px;
    margin-bottom: -4px;
}